[submodule "opencv"]
	path = opencv
	url = git@github.com:opencv/opencv.git
	branch = 4.x
[submodule "Tensor-library"]
	path = Tensor-library
	url = git@github.com:alarxx/Tensor-library.git
	branch = c++mappings
